<%= render 'public/header' %>

<h2>本当に退会しますか？</h2>

<p>
  退会すると、会員登録情報や</br>
  これまでの購入履歴ができなくなります</br>
  退会する場合は、「退会する」をクリックしてください。
</p>

<%= link_to "退会する", withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>
<%= link_to "退会しない", customers_show_path %>