<%= render 'public/header' %>

<div class="container">
  <h3 class="ml-5 mt-3 mb-5 bg-light pl-2 pr-2 pt-2">注文履歴詳細</h3>


<div class="row">
<strong>注文情報</strong>
  <table class="table table-bordered">
  <tr>
    <th class="table-secondary">注文日</th>
    <td></td>
  </tr>
　<tr>
    <th class="table-secondary">配送先</th>
    <td></td>
　</tr>
　<tr>
    <th class="table-secondary">支払方法</th>
    <td></td>
  </tr>
  <tr>
    <th class="table-secondary">ステータス</th>
    <td></td>
  </tr>
</table>

<strong>請求情報</strong>
  <table class="table table-bordered">
  <tr>
    <th class="table-secondary">商品合計</th>
    <td></td>
  </tr>
　<tr>
    <th class="table-secondary">配送料</th>
    <td></td>
　</tr>
　<tr>
    <th class="table-secondary">ご請求額</th>
    <td></td>
  </tr>
</table>

</div>

<strong>注文内容</strong>
  <table class="table table-bordered">
  <tr>
    <th class="table-secondary">商品</th>
    <th class="table-secondary">単価（税込）</th>
    <th class="table-secondary">個数</th>
    <th class="table-secondary">小計</th>
  </tr>
　<tr>
　  <td></td>
　  <td></td>
    <td></td>
    <td></td>
　</tr>

</table>


</div>